# don't want to upload unecessary stuff
catkin_ws/build/
catkin_ws/devel/
*.pyc
*/__pycache__/
*.gz
latex_sandbox/*.pdf
delme.txt
# linux-side pdf
py_sandbox/book_MakeYourOwnNeuralNetwork/BOOK_TariqRashid-MakeYourOwnNeuralNetwork.pdf
# windows links
py_sandbox/book_MakeYourOwnNeuralNetwork/TariqRashid-MakeYourOwnNeuralNetwork.pdf - Shortcut.lnk