# dont want output of cpp to be uploaded to repo

*.out
*.exe

# stuff related to cmake:
*/CMakeCache.txt
*/CMakeFiles/
*/Makefile
*.cmake

# visual studio (remember to put solution & project in same directory)
*.suo
*.VC*
*.vs/
*Debug/*
*Release/*
*.sln
*.vc*
*.exe*
*.ilk
*.log
*.pdb
*.tlog*
*.obj
*.idb
*.ipdb
*.iobj
*.vscode/*
*.vs/*