# Title: Python Modules Install List
# upgrade pip: python -m pip install --upgrade pip
ipython
numpy
matplotlib
Pillow
pandas
openpyxl
# optional modules: ====================
# optional: science
scipy
# optional: img metadata manipulation
piexif
# needed for audio metadata manipulation
mutagen
# needed for audio conversion
pydub 
# note: need ffmpeg https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg
# obsolete modules: ====================
#jupyter # not really needed anymore
#ipdb
#opencv-contrib-python

