# Title: Python Modules Install List
# Usage: python -m pip install -r FILENAME --user
jupyter
ipython
ipdb
numpy
matplotlib
Pillow
scipy
opencv-contrib-python
pandas
mutagen # needed for audio metadata manipulation
pydub # needed for audio conversion
# # requirements for thesis, not sure if needed yet
# boltons
# pprint
# torch==0.4.0
# torchvision
# easydict
# cffi
# pyyaml # not sure if needed right now
